Repository paxjs-team/paxjs-promise: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --fix --max-warnings=0

Add sources
  src/delay.js
  src/index.js
  src/time.js
Due: pretty-quick --staged, eslint --fix --max-warnings=0

Add "build" script
  build.js
Due: pretty-quick --staged, eslint --fix --max-warnings=0

Add tests
  __test__/delay.test.js
  __test__/time.test.js
Due: pretty-quick --staged, eslint --fix --max-warnings=0

Update .eslintignore
  .eslintignore
Due: none

Do nothing if Promise object is not available
  src/delay.js
  src/time.js
Due: pretty-quick --staged, eslint --fix --max-warnings=0

Add README
  README.md
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: **/*.{js,json,md,sublime-project}
  eslint --fix --max-warnings=0: any of: **/*.js
